<!-- <footer class="two" style="background-color: #f5f5f5; background-image:url(assets/img/footer-1.png)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="logo">
                    <a >
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <p>AMIDOG.</p>
                </div>
                <ul class="social-icon">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="widget-title">
                  <h3>Top Categorias</h3>
                  <div class="boder"></div>
                    <ul>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Dog Grooming</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Dog Leads & Collars</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Dog Shampoos & Conditioners</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Pure Paws</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Clippers</a></li>
                      
                    </ul>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-title">
                  <h3>Contáctanos</h3>
                  <div class="boder"></div>
                    <div class="phone">
                          <i>
                            <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
                          </i><a href="callto:+02101283492">+021 01283492</a>
                    </div>
                    <div class="phone">
                          <i>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M0,81v350h512V81H0z M456.952,111L256,286.104L55.047,111H456.952z M30,128.967l134.031,116.789L30,379.787V128.967z
                               M51.213,401l135.489-135.489L256,325.896l69.298-60.384L460.787,401H51.213z M482,379.788L347.969,245.756L482,128.967V379.788z"></path>
                            </svg>
                          </i><a href="mallto:contacto@amidog.cl">contacto@amidog.cl</a>
                    </div>
                        <div class="phone mb-0 d-flax align-items-center">
                          <i>
                              <svg version="1.1" xml:space="preserve" width="682.66669" height="682.66669" viewBox="0 0 682.66669 682.66669" xmlns="http://www.w3.org/2000/svg"><clipPath clipPathUnits="userSpaceOnUse"><path d="M 0,512 H 512 V 0 H 0 Z"></path></clipPath><g transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g><g clip-path="url(#clipPath2333)"><g transform="translate(256,92)"><path d="m 0,0 c -126.964,143.662 -160,165.23 -160,240 0,88.366 71.634,160 160,160 88.365,0 160,-71.634 160,-160 C 160,165.854 130.212,147.337 0,0 Z" style="fill:none;stroke:#000;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g><g transform="translate(316,372)"><path d="m 0,0 -80,-80 -40,40" style="fill:none;stroke:#000;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g></g></g></g>
                              </svg>
                            </i>
                            <div>
                          <p>Santiago, Chile</p>
                          <a href="#" class="get">Información</a>
                          </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrighttwo">
        <div class="container">
            <div class="copyright">
                <p>AMIDOG - Copyright 2025. Desarrollado por Buckapi</p>
                <a href="#"><img src="assets/img/visa.jpg" alt="cad"></a>
            </div>
        </div>
    </div>
</footer> -->
<footer style="background-color: #fff8e5; background-image:url(assets/img/background.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <p>
                        Somos una veterinaria al pendiente de la salud y el cuidado de tus mascotas.
                        </p>
                    <div class="phone">
                          <i>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M0,81v350h512V81H0z M456.952,111L256,286.104L55.047,111H456.952z M30,128.967l134.031,116.789L30,379.787V128.967z
                               M51.213,401l135.489-135.489L256,325.896l69.298-60.384L460.787,401H51.213z M482,379.788L347.969,245.756L482,128.967V379.788z"></path>
                            </svg>
                          </i><a href="mallto:contacto@amidog.cl">contacto@amidog.cl</a>
                    </div>
                        <div class="phone d-flax align-items-center">
                          <i>
                              <svg version="1.1" xml:space="preserve" width="682.66669" height="682.66669" viewBox="0 0 682.66669 682.66669" xmlns="http://www.w3.org/2000/svg"><clipPath clipPathUnits="userSpaceOnUse"><path d="M 0,512 H 512 V 0 H 0 Z"></path></clipPath><g transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g><g clip-path="url(#clipPath2333)"><g transform="translate(256,92)"><path d="m 0,0 c -126.964,143.662 -160,165.23 -160,240 0,88.366 71.634,160 160,160 88.365,0 160,-71.634 160,-160 C 160,165.854 130.212,147.337 0,0 Z" style="fill:none;stroke:#000;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g><g transform="translate(316,372)"><path d="m 0,0 -80,-80 -40,40" style="fill:none;stroke:#000;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g></g></g></g>
                              </svg>
                            </i>
                          <p>Av. Pinto 2000, Santiago, Chile</p>
                        </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="widget-title">
                  <h3>Enlaces útiles</h3>
                  <div class="boder"></div>
                    <ul>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Servicio de hospedaje</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Servicio de cuidado</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Spa y cuidado</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Cuidado de perros</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Servicio en un resort</a></li>
                      <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Servicio veterinario</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="working-hours">
                    <div class="widget-title">
                      <h3>Horario de Atención</h3>
                      <div class="boder"></div>
                      <div class="working-time">
                          <h6 class="pt-0">Lunes - Sábado <span>08AM - 10PM</span></h6>
                          <h6>Domingo<span>08AM - 10PM</span></h6>
                          <div class="call-us">
                              <img src="assets/img/hadphon.png" alt="hadphon">
                              <div>
                                  <a href="index.html#">+09 987654321</a>
                                  <span>Preguntas? Llamanos 24/7</span>
                              </div>
                          </div>
                          <ul class="social-icon">
                            <li><a href="index.html#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="index.html#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="index.html#"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>AMIDOG - Copyright 2025. Design by <a href="https://buckapi.site" target="_blank">
                <span 
                style="color: #ee492b;"
                >
                    buckapi
                </span>
                </a></p>
            <a href="index.html#"><img src="assets/img/visa.jpg" alt="cad"></a>
        </div>
    </div>
    <img src="assets/img/hero-shaps-1.png" alt="hero-shaps" class="img-2">
    <img src="assets/img/dabal-foot-1.png" alt="hero-shaps" class="img-3">
    <img src="assets/img/hero-shaps-1.png" alt="hero-shaps" class="img-4">
</footer>